#hiddenWord{
    font-size: 40px;
    color: #333;
}

#will-pic{
    /* display: inherit; */
    max-width: 400px;
    

}

.jumbotron{
    padding-top:10px;
    padding-bottom: 10px;
}

#jumbo-image-holder{
    height: 300px;
    text-align: center;
}